---
layout: default
title: Aliaksei's | Blog About Software
---

<div itemscope="" itemtype="http://schema.org/Blog">
    {% for post in paginator.posts %}
    <div class="wrapper">
        <section class="front" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Aliaksei Bialiauski"/>
            </div>
            <div itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="h1alexbel.github.io"/>
            </div>
            <header>
                <h1>
                    <a href="{{ post.url }}">
                        <span itemprop="name headline mainEntityOfPage">{{ post.title }}</span>
                    </a>
                </h1>
                <ul class="subline">
                    <li>
                        <time itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">
                            {% assign m = post.date | date: "%-m" %}
                            {{ post.date | date: "%-d" }}
                            {% case m %}
                            {% when '1' %}jan
                            {% when '2' %}feb
                            {% when '3' %}march
                            {% when '4' %}apr
                            {% when '5' %}may
                            {% when '6' %}jun
                            {% when '7' %}jul
                            {% when '8' %}aug
                            {% when '9' %}sep
                            {% when '10' %}oct
                            {% when '11' %}nov
                            {% when '12' %}dec
                            {% endcase %}
                            {{ post.date | date: "%Y" }}
                        </time>
                    </li>
                    {% if page.place %}
                    <li itemprop="locationCreated">{{ page.place }}</li>
                    <li>{% for tag in page.tags %}
                        <a href="/tag/{{ tag }}.html"><code><nobr>{{ tag }}</nobr></code></a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li>
                        <i class="icon icon-comments"></i>
                        <a href="{{ site.url }}{{ post.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
                    </li>
                </ul>
            </header>
            <div class="main" itemprop="description">
                {{ post.excerpt }}
            </div>
            <p>
                <a href="{{ post.url }}" itemprop="url">
                    Continue...
                </a>
            </p>
        </section>
    </div>
    {% endfor %}
</div>

<div class="wrapper">
    <footer>
        <div class="pagination">
            <div class="left">
                {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <a href="/"><i class="icon icon-fast-backward"></i></a>
                {% else %}
                <a href="/p/{{ paginator.previous_page }}"><i class="icon icon-fast-backward"></i></a>
                {% endif %}
                {% else %}
                <span class="mute"><i class="icon icon-fast-backward"></i></span>
                {% endif %}
            </div>
            page {{ paginator.page }} of {{ paginator.total_pages }}
            <div class="right">
                {% if paginator.next_page %}
                <a href="/p/{{ paginator.next_page }}"><i class="icon icon-fast-forward"></i></a>
                {% else %}
                <span class="mute"><i class="icon icon-fast-forward"></i></span>
                {% endif %}
            </div>
        </div>
    </footer>
</div>