<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>h1alexbel's blog</title>-->
<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--    <link rel="stylesheet" href="css/body.css">-->
<!--    <link rel="stylesheet" href="css/main.css">-->
<!--    <link rel="stylesheet" href="css/name.css">-->
<!--    <link rel="stylesheet" href="css/speciality.css">-->
<!--</head>-->
<!--<body class="body">-->
<!--<div class="center">-->
<!--    <img src="images/photo-modified.png" width="250" height="250">-->
<!--</div>-->
<!--<div class="center">-->
<!--    <p>-->
<!--        <a class="name">Aliaksei Bialiauski</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="speciality">Java Software Engineer</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="speciality">at <a class="speciality" href="https://www.solvd.com/">@Solvd</a></a>-->
<!--    </p>-->
<!--</div>-->
<!--<div class="center">-->
<!--    <p>-->
<!--        <a class="class" href="https://github.com/h1alexbel">Github</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="class" href="https://t.me/abialiauskiJavaDev">Telegram</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="class" href="https://t.me/h1alexbelnews">Blog</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="class" href="https://www.linkedin.com/in/aliaksei-bialiauski-49b2a821a/">LinkedIn</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a class="class" href="https://twitter.com/h1alexbel">Twitter</a>-->
<!--    </p>-->
<!--</div>-->
<!--<div class="center">-->
<!--    Email me-->
<!--    <a href="https://mail.google.com/mail/u/4/#inbox?compose=CllgCJqbQBpcXmtwBrDKKCdCPQmQPjkXsTwswwBlPKvrHfxFrskxfVHknXPghbxRfkgpsdQqRSV">-->
<!--        abialiauski@gmail.com</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


---
keywords:
- blog
- driver733
---

{% for post in paginator.posts %}
<article class="article-preview">
    {{ post.date | date: "%B %-d, %Y" }}
    <a href="{{ site.url }}{{ post.url }}#disqus_thread" class="inline-element a-black" data-proofer-ignore>comments</a>
    <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h1>
    {{ post.excerpt }}
    <figure>
        <img src="{{ post.figure }}"
             alt="{{ post.figalt }}">
        <figcaption>{{ post.figcaption }}</figcaption>
    </figure>
    <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-outline-info btn-read" role="button">
        Read <span class="fas fa-long-arrow-alt-right"></span>
    </a>
</article>
{% endfor %}

<article class="center">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">&lt;&lt;</a>
    {% else %}
    <a href="/p/{{ paginator.previous_page }}">&lt;&lt;</a>
    {% endif %}
    {% else %}
    <span class="mute">&lt;&lt;</span>
    {% endif %}
    page {{ paginator.page }} of {{ paginator.total_pages }}
    {% if paginator.next_page %}
    <a href="/p/{{ paginator.next_page }}">&gt;&gt;</a>
    {% else %}
    <span class="mute">&gt;&gt;</span>
    {% endif %}
</article>