<div class="footer-col-wrapper">
    <div class="copyright">
      {% assign year_from = 2022 %}
      {% assign year_to = site.time | date: '%Y' %}
      {% if year_from == nil or year_from == year_to %}
      {% assign year_string = year_from %}
      {% else %}
      {% assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to %}
      {% endif %}
      {% if site.author %}
      <p>© {{ year_string }} {{ site.author }}; All rights reserved.</p>
      {% endif %}
    </div>
</div>
