---
---

@charset "utf-8";
// see https://fonts.google.com/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

// scss-lint:disable MergeableSelector
// scss-lint:disable ImportantRule

$black: #000;

$width: 650px;
$blockquote-background-color: f9f9f9;
$blockquote-border-color: f9f9f9;

%gray { color: lighten($black, 50); }

.gray { @extend %gray; }

%center { text-align: center; }

.center { @extend %center; }

%desktop-only {
  @media all and (max-width: $width) {
    display: none;
  }
}

.desktop-only { @extend %desktop-only; }

a {
  text-decoration: none !important;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
}

section {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
  width: auto;
}

header {

  @extend %center;

  input {
    border: 1px solid $black;
    max-width: 100%;
    padding: .2em .6em;
  }

  .photo {
    height: 100px;
    width: 100px;
  }

  form,
  nav {
    margin: .4em 0;
  }

  ul li {
    display: inline;
    margin-right: .4em;
  }

  .social {
    font-size: 1.5em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
  }

  .header-top {
    margin-bottom: 1em;
  }

  .header-middle {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .header-bottom {
    margin-top: 2em;
  }

  .field {
    border-radius: 5px;
  }

}

.btn-read {
  margin-top: .5em;
}

.share-buttons {
  margin-left: -5px;
}

.circular {
  border-radius: 50%;
}

.share-icon {
  display: inline-block;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: .5em;
  width: 40px;
}

blockquote {
  background: $blockquote-background-color;
  border-left: 10px solid $blockquote-border-color;
  margin: 1.5em 10px;
  padding: .5em 10px;
}

blockquote p {
  display: inline;
}

img {
  display: block;
  height: auto;
  margin-bottom: .5em;
  margin-top: 2em;
  max-height: 425px;
  width: 100%;
}

img + em {
  display: block;
  margin-bottom: 2em;
  text-align: left;
}

.article-preview {
  margin-bottom: 3em;
}

.inline-element-first {
  display: inline-block;
}

.inline-element {
  display: inline-block;
  margin-left: 2em;
}

.a-black {
  color: $black;
  font-size: 1em;
}

article {
  margin-bottom: 4em;
  margin-top: 2em;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: .5em;

    a {
      color: $black;
      font-size: 1em;
    }
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  p,
  ul,
  ol {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }

  ul,
  ol {
    margin-left: 3em;
  }
}

footer {
  @extend %gray;
  @extend %center;
  font-size: .8em;
  margin-top: 2em;
}

.disqus {
  margin-top: 1em;
}