---
layout: default
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru"
      itemscope="" itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description | xml_escape }}"/>
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="icon" href="../images/logo.png">
    <link rel="shortcut icon" href="../images/logo.png"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css"/>

    <link rel="stylesheet" href="../assets/css/eo.scss"/>
    <link rel="stylesheet" href="../assets/css/col.css">
</head>
<body>
<section>
    <header class="header" id="header">
        <div>
            <a href="/">
                <img width="125px" height="125px"
                     src="https://res.cloudinary.com/dcvb0ntc5/image/upload/v1671739450/photo-modified_gbwhbs.png"
                     class="logo" alt="Blog Logo"/>
            </a>
        </div>
        <nav style="font-family: 'Computer Modern Serif', serif">
            <ul>
                <li><a class="class" href="https://github.com/h1alexbel">
                    <img width="24px" height="24px"
                         src="https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/github.svg">
                </a></li>
                <li><a class="class" href="https://stackoverflow.com/users/19147117/abialiauski">
                    <img width="24px" height="24px"
                         src="https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/stackoverflow.svg">
                </a></li>
                <li><a class="class" href="https://www.linkedin.com/in/h1alexbel">
                    <img width="24px" height="24px"
                         src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg">
                </a></li>
                <li><a class="class" href="https://twitter.com/h1alexbel">
                    <img width="24px" height="24px"
                         src="https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/twitter.svg">
                </a></li>
                <li><a class="class" href="https://t.me/h1alexbel">
                    <img width="24px" height="24px"
                         src="https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/telegram.svg">
                </a></li>
                <li>
                    <a class="class" href="mailto:abialiauski.dev@gmail.com">
                        <img width="24px" height="24px"
                             src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/gmail.svg">
                    </a>
                </li>
            </ul>
            <ul>
                <li><a style="color: black; text-decoration: none" href="/" title="Home">Home</a></li>
                <li><a style="color: black; text-decoration: none" href="https://h1alexbel.github.io/about-me.html"
                       title="About Me">About Me</a></li>
                <li><a style="color: black; text-decoration: none" href="/rss.xml" title="RSS">RSS</a></li>
                <li><a style="color: black; text-decoration: none" href="/talks.html" title="Talks">Talks</a></li>
            </ul>
        </nav>
    </header>
    <div style="font-family: 'Computer Modern Serif', serif">
        {{ content }}
    </div>
    <footer style="font-family: 'Computer Modern Serif', serif">
        &copy; Aliaksei Bialiauski
    </footer>
</section>
<script>var disqus_shortname = 'news-eolang-org';</script>
<script id="dsq-count-scr" src="//news-eolang-org.disqus.com/count.js" async="async"></script>
</body>
</html>