---
layout: compress
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en-US" xml:lang="en-US"
      prefix="og: http://ogp.me/ns#"
      itemscope=""
      itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          data-proofer-ignore>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/default.scss"/>
    <link rel="stylesheet" href="../assets/css/code.scss"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <!--    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">-->
    <!--    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="../photo-modified.png">
    <meta name="google-site-verification" content="Jia5aHWAjnEe6vdzKMhbJFc71-Rgewomm3tl7V1mM24"/>
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/body.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/name.css">
    <link rel="stylesheet" href="../assets/css/speciality.css">
    <link rel="stylesheet" href="../assets/css/col.css">
</head>
<body>
<section>
    <header>
        <div class="row">
            <div class="column">
                <a href="/" class="text-info">Home</a>
            </div>
            <div class="column">
                <a href="http://h1alexbel.github.io/about-me.html" class="text-info">About</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p>
                    <a class="social text-info fab fa-twitter notranslate" title="Follow me on Twitter"
                       href="https://twitter.com/h1alexbel"></a>
                </p>
            </div>
            <div class="column">
                <p><a class="social text-info fab fa-github  notranslate" title="My GitHub profile"
                      href="https://github.com/h1alexbel"></a></p>
            </div>
            <div class="column">
                <p><a class="social text-info fab fa-stack-overflow notranslate" title="My StackOverflow profile"
                      href="https://stackoverflow.com/users/19147117/abialiauski"></a>
                </p>
            </div>
        </div>
        <div class="center">
            <nav class="header-bottom">
                <div class="search">
                    <form method="get" action="https://www.google.com/search"
                          itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                        <input name="sitesearch" value="h1alexbel.com" type="hidden"/>
                        <input itemprop="query-input" type="text" id="search-query" class="field field-text"
                               required="required"
                               name="q" placeholder="Search..." autocomplete="off"/>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    {{ content }}
    <footer>
        (c)
        <span itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">Aliaksei Bialiauski</span>
        </span>
        <br/>
        2022
    </footer>
</section>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127781126-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-127781126-1');
</script>
</body>
</html>
