---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.last_modified_at -%}
        ~
        {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {% if page.place %}
        <br>
        {{ page.place }}
      {%- endif -%}
    </p>

    Submit to <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;t={{ page.title | cgi_escape }}"><i class='fa-brands fa-hacker-news'></i></a>
    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"><i class='fa-brands fa-linkedin'></i></a>
    <a href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"><i class='fa-brands fa-reddit'></i></a>
    <br>
    <input hidden="hidden" type="text" value="{{site.url}}{{page.short-url}}" id="short-url"/>
    <button onclick="short()">Copy Short URL</button>
    <script>
      function short() {
        const short = document.getElementById("short-url");
        short.select();
        // for mobile devices
        short.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(short.value);
      }
    </script>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    {% if page.categories.size > 0 %}
      <div class="post-meta">
        <i class="fas fa-folder"></i>
<!--        <ul class="post-taxonomies post-categories">-->
<!--          {% assign categories = page.categories | sort %}-->
<!--          {% for category in categories %}-->
<!--            <li class="post-category">-->
<!--              {% assign slugified_category = category | slugify %}-->
<!--              <a href="{{ '/categories/#:category' | replace: ':category', slugified_category | relative_url }}">{{ category }}</a>-->
<!--            </li>-->
<!--          {% endfor %}-->
<!--        </ul>-->
      </div>
    {% endif %}

    {% if page.tags.size > 0 %}
      <div class="post-meta">
        <i class="fas fa-tags"></i>
        <ul class="post-taxonomies post-tags">
          {% assign tags = page.tags | sort %}
          {% for tag in tags %}
            <li class="post-tag">
              {% assign slugified_tag = tag | slugify %}
              <a href="{{ '/tags/#:tag' | replace: ':tag', slugified_tag | relative_url }}">{{ slugified_tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <nav class="post-pagination" role="navigation">
      {% if page.previous %}
        <a class="post-previous" href="{{ page.previous.url | relative_url }}">
          <h4 class="post-pagination-label">Prev</h4>
          <span class="post-pagination-title">
            <i class="fas fa-arrow-left"></i> {{ page.previous.title | markdownify | strip_html }}
          </span>
        </a>
      {% endif %}

      {% if page.next %}
        <a class="post-next" href="{{ page.next.url | relative_url }}">
          <h4 class="post-pagination-label">Next</h4>
          <span class="post-pagination-title">
            {{ page.next.title | markdownify | strip_html }} <i class="fas fa-arrow-right"></i>
          </span>
        </a>
      {% endif %}
    </nav>
  </footer>

  {% if page.comments != false and jekyll.environment == "production" and site.disqus %}
    {% include disqus.html %}
  {% endif %}

</article>
