<!-- -&#45;&#45;-->
<!--layout: default-->
<!--amp: true-->
<!-- -&#45;&#45;-->

<article itemscope="" itemtype="http://schema.org/BlogPosting">
    <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}/images/tomato.png"/>
    <meta itemprop="height" content="250"/>
    <meta itemprop="width" content="250"/>
    </div>
    <meta itemprop="image" content=""/>
    <div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Mikhail Yakushin"/>
    </div>
    <div itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="driver733's blog"/>
        <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="{{ site.url }}/images/tomato.png"/>
        <meta itemprop="height" content="250"/>
        <meta itemprop="width" content="250"/>
        </div>
    </div>
    <div class="inline-element-first">
        <time
                itemprop="datePublished dateModified"
                datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %-d, %Y" }}
        </time>
    </div>
    <div class="inline-element">
        <a href="{{ site.url }}{{ page.url }}#disqus_thread" class="a-black" data-proofer-ignore>comments</a>
    </div>
    <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
    {{ page.excerpt }}
    <figure>
        <img src="{{ page.figure }}"
             alt="{{ page.figalt }}"
             width="650"
             height="325">
        <figcaption>{{ page.figcaption }}</figcaption>
    </figure>
    {{ content | remove: page.excerpt }}
</article>
<div class="share-buttons">

    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;text={{ page.title | url_encode }}%0A{{ page.description | url_encode }}"
       target="_blank"
       role="button"
       title="Twitter">
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/twitter.png"
             alt="Twitter"/>
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}"
       target="_blank"
       role="button"
       title="Facebook"
       data-proofer-ignore>
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/facebook.png"
             alt="Facebook"/>
    </a>

    <!--Reddit -->
    <a href="http://reddit.com/submit?url={{site.url}}{{page.url}}&amp;title={{ page.title | url_encode }}"
       target="_blank"
       role="button"
       title="Reddit">
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/reddit.png"
             alt="Reddit"/>
    </a>

    <!--LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{page.url}}"
       target="_blank"
       role="button"
       title="LinkedIn"
       data-proofer-ignore>
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/linkedin.png"
             alt="LinkedIn"/>
    </a>

    <!--Hacker News-->
    <a href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{ page.title | url_encode }}"
       target="_blank"
       role="button"
       title="Hacker News"
       data-proofer-ignore>
        <img class="share-icon circular"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjWKdVE9MBBLKSWROP_FR-MBEYM_YQ1-7MqoRwWnh8u9gCAJH3"
             alt="Hacker News"/>
    </a>

    <!--Telegram-->
    <a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title | url_encode }}"
       target="_blank"
       role="button"
       title="Telegram"
       data-proofer-ignore>
        <img class="share-icon"
             src="http://www.stickpng.com/assets/images/5842a8fba6515b1e0ad75b03.png"
             alt="Telegram"/>
    </a>

    <!--VK -->
    <a href="http://vk.com/share.php?url={{site.url}}{{page.url}}"
       target="_blank"
       role="button"
       title="VK">
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/vk.png"
             alt="VK"/>
    </a>

    <!--Email-->
    <a href="mailto:?Subject={{ page.title | url_encode }}&amp;Body={{ page.title | url_encode }}%20{{ page.description | url_encode }}%0A{{site.url}}{{page.url}}"
       title="Email"
       role="button"
       data-proofer-ignore>
        <img class="share-icon"
             src="https://simplesharebuttons.com/images/somacro/email.png"
             alt="Email"/>
    </a>

</div>
<div class="disqus" id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = document.location.href.split('?')[0].split('#')[0];
        this.page.identifier = this.page.url;
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = '//driver733.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">
        comments powered by Disqus.
    </a>
</noscript>