---
layout: default
---

<section itemscope="" itemtype="http://schema.org/BlogPosting">
    <link rel="icon" href="../images/logo.png">
    <link rel="shortcut icon" href="../images/logo.png"/>
    <div itemprop="review" itemscope="" itemtype="http://schema.org/Review">
        <meta itemprop="author" content="{{ site.author.name }}">
        <meta itemprop="itemReviewed" content="{{ site.url }}{{ page.url }}">
        <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
            <meta itemprop="ratingValue" content="9"/>
            <meta itemprop="bestRating" content="10"/>
        </div>
    </div>

    <div class="wrapper">
        <header>
            <p class="printable">
                <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ site.url }}{{ page.url }}&amp;format=svg"
                     style="width:125px;height:125px;" alt="QR code"/>
            </p>
            <p class="printable">
                <code itemprop="url">{{ site.url }}{{ page.url }}</code>
            </p>
            <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
            {% if page.book %}
            {{ page.book | book }}
            {% endif %}
            <ul class="subline">
                <li>
                    <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
                        {% assign m = page.date | date: "%-m" %}
                        {{ page.date | date: "%-d" }}
                        {% case m %}
                        {% when '1' %}jan
                        {% when '2' %}feb
                        {% when '3' %}march
                        {% when '4' %}apr
                        {% when '5' %}may
                        {% when '6' %}jun
                        {% when '7' %}jul
                        {% when '8' %}aug
                        {% when '9' %}sep
                        {% when '10' %}oct
                        {% when '11' %}nov
                        {% when '12' %}dec
                        {% endcase %}
                        {{ page.date | date: "%Y" }}
                    </time>
                </li>
                {% if page.place %}
                <li class="desktop-only" itemprop="locationCreated">{{ page.place }}</li>
                <li>{% for tag in page.tags %}
                    <a href="/tag/{{ tag }}.html"><code><nobr>{{ tag }}</nobr></code></a>
                </li>
                {% endfor %}
                {% endif %}
                <li class="printable" itemscope="" itemprop="author" itemtype="http://schema.org/Person">
                    <span itemprop="name">Aliaksei Bialiauski</span>
                </li>
                <li class="unprintable">
                    <i class="icon icon-comments"></i>
                    <a href="{{ site.url }}{{ page.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
                </li>
            </ul>
            <div class="buttons notranslate desktop-only">
                <nav class="share">
                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                       title="Facebook" class="button" rel="nofollow">
                        <span class="count count-facebook">0</span>
                        <i class="icon icon-facebook notranslate" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
                       title="Twitter" class="button" rel="nofollow">
                        <span class="count count-twitter">0</span>
                        <i class="icon icon-twitter notranslate" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"
                       title="LinkedIn" class="button" rel="nofollow">
                        <span class="count count-linkedin">0</span>
                        <i class="icon icon-linkedin notranslate" aria-hidden="true"></i>
                    </a>
                    <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
                    title="Reddit" class="button" rel="nofollow">
                    <span class="count count-reddit">0</span>
                    <i class="icon icon-reddit notranslate" aria-hidden="true"></i>
                    </a>
                </nav>
            </div>
        </header>
        <main>
            <article class="main" itemprop="articleBody">
                {{ content }}
            </article>
        </main>
    </div>

    <div class="disqus" role="complementary">
        <div id="disqus_thread" class="disqus-thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = document.location.href.split('?')[0].split('#')[0];
                this.page.identifier = this.page.url;
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//ru-yegor256-com.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            <div>
                <p class="red">
                    JavaScript is disabled in your browser,
                    that's why you can't see comments under this post.
                </p>
            </div>
        </noscript>
    </div>

</section>